@{
    ViewBag.Title = "大水怪的博客";
    ViewBag.CurrentPage = "dashuiguai";
}

@section Styles {
    <link href="~/assets/dashuiguai/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/dashuiguai/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/assets/dashuiguai/css/style.css" rel='stylesheet' type='text/css' />
}
    <div class="page-container">
        <div id="home" class="header">
            <div class="container">
                <!-- top-hedader -->
                <div class="top-header">
                    <div class="banner-info">
                        <div class="col-md-7 header-right">
                            <h1>Hi !</h1>
                            <h6>你好 &amp; 大水怪个人博客</h6>
                            <ul class="address">

                                <li>
                                    <ul class="address-text">
                                        <li><b>姓名</b></li>
                                        <li>大水怪</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>出生年月</b></li>
                                        <li>1993-XX-28</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>电话 </b></li>
                                        <li>159 XXXX 8654</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>地址</b></li>
                                        <li>人间天堂-杭州</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>E-MAIL </b></li>
                                        <li><a> 1248991348@qq.com</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>WEBSITE </b></li>
                                        <li><a href="#">www.dashuiguai.cn</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>GITHUB</b></li>
                                        <li><a  href="https://github.com/wugao123456">github.com</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>座右铭</b></li>
                                        <li>尔日显浅 彼云艰深  维其深入  所以浅出</li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-5 header-left">
                            <img src="~/assets/dashuiguai/images/dashuiguai.jpg" alt="">
                        </div>
                        <div class="clearfix"> </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="service-head text-center">
                <h4>大水怪</h4>
                <h3>我的 <span>工作经历</span></h3>
                <span class="border one"></span>
            </div>
            <div class="time-main w3l-agile">
                <div class="col-md-6 year-info">
                    <ul class="year">
                        <li>2013</li>
                        <li>2014</li>
                        <li>2015</li>
                        <li>2016</li>
                        <li>2017-至今</li>
                        @*<div class="clearfix"></div>*@
                    </ul>
                </div>
                <ul class="col-md-6 timeline">
                    <li>
                        <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">中原工学院</h4>
                            </div>
                            <div class="timeline-body">
                                <p>作为一名学生,就读信息管理信息系统专业，通过英语四级考试，完成专业课程学习，获取本科学历证书。</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="timeline-badge primary"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">中原工学院电信学院实验室</h4>
                            </div>
                            <div class="timeline-body">
                                <p>作为一名c++开发实习生，参与导师的智能移动小车项目，主要学习MFC基础类框架，处理串口通信，处理单片机数据，在windows端进行数据处理。</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">中原工学院acm实验室</h4>
                            </div>
                            <div class="timeline-body">
                                <p>作为一名acm队员，主要参与算法，数据结构的算法训练及学习，通过在杭电OJ训练数据结构的知识，参加各类省级全国性编程比赛，获取了河南省acm银奖，河南省蓝桥杯一等奖等。</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">金证科技有限公司</h4>
                            </div>
                            <div class="timeline-body">
                                <p>金证财富资管部，任职为c++开发工程师，主要参与资管项目的开发：管理代销/直销基金/信托销售等系统各资金账户的资金交收情况，
                                对这些相关的业务进行资金清算，生成交收指令，生成监管银行所需的监管数据文件。</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge pass"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">杭州健培科技有限公司</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                   健培研发部,任职为c#全栈工程师<br />
                                    &nbsp;  &nbsp;  AI智能诊断主要参与了AIBOX软件开发；参与医院pacs系统进行dicom协议通讯；获取及时的医院检查信息，并转发AI诊断系统。
                                     啄医生阅片软件开发，开发放射科医生阅片工作站，做dicom图像处理，诊断结果呈现及阅片流程的业务逻辑开发。<br />
                                    &nbsp;  &nbsp;   健培医联体项目主导了医联体web项目的后台管理开发，医联体后台管理的前端及后台的整体框架设计，基础信息设计，权限设计，及业务逻辑设计。
                                </p>
                                
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
@section Scripts
{
    <script type="text/javascript" src="~/assets/plugins/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initUniform();
            //jQuery('#myCarousel').carousel({
            //    interval: 8000,
            //    pause: 'hover'
            //});
        });

    </script>
}